

.titulo {
    text-align: center;
    border-bottom: 1px black solid;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.box {
    border: 1px solid black;
    border-radius: 30px;
    padding: 100px;
    margin-top: 40px;
    text-align: center;
}

.imagem {
    width: 230px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 50%;
}
 p {
    padding-top: 10px;
 }

@media(max-width:991px){

   .col-md-6 {
    width: auto;
   }


    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
